<div class="container">
  <div class="row align-items-center justify-content-center m-5 p-5">
    <div class="col-md-4">
      <h2>Crear cuenta</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
              <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "name" }%>
                      <%= f.input :address,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "address" }%>
                       <%= f.input :phone_number,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "phone_number" }%>
                      <%= f.input :email,
                        label: 'Correo electrónico',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
                      <%= f.input :password,
                        required: true,
                        label: 'Contraseña',
                        hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
                      <%= f.input :password_confirmation,
                        label: 'Confirme contraseña',
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions btn btn-outline-info btn-sm">
            <%= f.button :submit, "Registrarme" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

