<% total = 0 %>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Img</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @product_orders.each_with_index do |product_order| %>
        <% sub_total = product_order.quantity * product_order.product.price %>
        <% total += sub_total %>
        <tr>
          <td><%= image_tag product_order.product.url_img, class: "avatar" %></td>
          <td><%= product_order.product.name %></td>
          <td><%= product_order.product.price %></td>
          <td><%= product_order.quantity %></td>
          <td><%= sub_total %></th>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th scope="row"><%= total %></th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Ver ordenes", orders_path, class:"btn btn-primary" %>
</div>

