<div class= "jumbotron-fluid4 p-3 mt-5 bg-info">

<div class= "container mx-auto b-1 p-1">
  <ul class="nav d-flex justify-content-between">
    <li class="nav-item"><%= link_to "Nosotros", about_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Productos", products_path, class: "nav-link" %></li>

    <li class="nav-item dropdown"><!-- inicio dropdown categorias -->
      <a class="nav-link dropdown-toggle" href="#" id="navbarCategories" role="button" data-toggle="dropdown" aria-expanded="false">Categorias</a>
      <ul class="dropdown-menu" aria-labelledby="navbarCategories">
        <% Category.all.each do |cat| %>
          <li><%= link_to cat.name, category_path(cat), class:"dropdown-item" %></li>
        <% end %>
      </ul>
    </li><!-- fin dropdown categorias -->

    <li class="nav-item dropdown"><!-- inicio dropdown marcas -->
      <a class="nav-link dropdown-toggle" href="#" id="navbarSupliers" role="button" data-toggle="dropdown" aria-expanded="false">Marcas</a>
      <ul class="dropdown-menu" aria-labelledby="navbarSupliers">
        <% Suplier.all.each do |sup| %>
          <li><%= link_to sup.name, suplier_path(sup), class:"dropdown-item" %></li>
        <% end %>
      </ul>
    </li><!-- fin dropdown marcas -->

    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">contacto@allbeauty.com</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fab fa-instagram"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook"></i></a>
    </li>

  </ul>  
</div>
<div class="container d-flex justify-content-center align-items-center mb-2">
  <div class="d-flex flex-row-reverse"><!-- inicio iconos -->
        <div class="nav-item dropdown"><!-- inicio dropdown user -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-expanded="false">Ingreso Proveedores<i class="far fa-address-card m-1"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUser">
  <% if user_suplier_signed_in? %>
            <li><%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %></li>
            <li><%= link_to "Salir", destroy_user_suplier_session_path, method: :delete, class: "dropdown-item" %></li>
  <% else %>
            <li><%= link_to "Iniciar sesión", dashboard_path, class: "dropdown-item" %></li>
  <% end %>
          </ul>
        </div><!-- fin dropdown user -->

  </div>
</div><!-- fin iconos -->
<br>
<ul class="d-flex justify-content-center list-unstyled small text-muted">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="https://www.google.cl/maps/place/Rep+%C3%81rabe+de+Egipto+216,+Las+Condes,+Regi%C3%B3n+Metropolitana/@-33.4103857,-70.5710629,17z/data=!3m1!4b1!4m5!3m4!1s0x9662cede0ffef1b5:0xcf5ce4f531991dc0!8m2!3d-33.4103902!4d-70.5688689">Dirección: República Árabe de Egipto 216, oficina 502 (Metro Manquehue) / Santiago / Chile / +56 9 94424513</a>
    </li>
  </ul>

<div class="container d-flex justify-content-center align-items-center list-unstyled small">
 <!-- <%= image_tag("logoAB.png", size: "40x40", alt: "logoAB")%>-->  
 <p class="text-primary">© 2021 All Beauty. Todos los Derechos Reservados.</p> 
</div>
</div>
