<div class="container my-5 py-5 ">
  <h1  class="text-center my-5">DETALLES DE MIS COMPRAS</h1>
  <table class="table table-hover mb-5">
    <h3>MI COMPRA ACTUAL</h3>
    <thead>
      <tr>
        <th scope="col">Pedido Nro</th>
        <th scope="col">Total de la compra</th>
        <th scope="col">Estado de la compra</th>
        <th scope="col">Detalle de la compra</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @order_carro.id %></td>
        <td><%= number_to_currency(@order_carro.product_orders.sum { |p_o| p_o.quantity * p_o.product.price}, unit: "$", delimiter: ".", precision: 0) %></td>
        <td><%= "En carro" unless @order_carro.status %></td>
        <td><%= link_to "Ver más", order_path(@order_carro) %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover">
    <h3>MIS COMPRAS ANTERIORES</h3>
    <thead>
      <tr>
        <th scope="col">Pedido Nro</th>
        <th scope="col">Total de la compra</th>
        <th scope="col">Estado de la compra</th>
        <th scope="col">Detalle de la compra</th>
      </tr>
    </thead>
    <tbody>
      <% @orders_listas.where(status: true).each_with_index do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= number_to_currency(order.total, unit: "$", delimiter: ".", precision: 0) %></td>
          <td><%= "Lista" if order.status %></td>
          <td><%= link_to "Ver más", order_product_orders_path(order) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
