<br>
<br>
<div class="container">
  <h1>MI PEDIDO</h1>
</div>
<br>
<br>
<% total = 0 %>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Img</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @order.product_orders.each_with_index do |product_order| %>
        <% sub_total = product_order.quantity * product_order.product.price %>
        <% total += sub_total %>
        <tr>
          <td>
            <%= link_to product_order.product do %>
              <%= image_tag product_order.product.url_img, class: "avatar" %>
            <% end %>
          </td>
          <td><%= link_to product_order.product.name, product_order.product %></td>
          <td><%= product_order.product.price%></td>
          <td><%= product_order.quantity %></td>
          <td><%= sub_total %></td>
          <td>
            <%= link_to 'Editar', '#', type: "button", 'data-toggle' => "modal", 'data-target' => "#modalProductOrder#{product_order.id}" %>
            <!-- inicio modal -->
            <div class="modal fade" id="modalProductOrder<%= product_order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <%= render "product_orders/form", product_order: [product_order.order, product_order] %>
            </div>
            <!-- fin modal -->
          </td>
          <td><%= link_to 'Borrar', product_order_path(product_order), method: :delete, data: { confirm: "¿Estás seguro?" } %></td>
        </tr>
      <% end %>
      <tr>
        <td></th>
        <td></td>
        <td></td>
        <td></td>
        <th scope="row"><%= total %></th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>  
      <%= link_to 'Comprar', '#', type: "button", 'data-toggle' => "modal", 'data-target' => "#modal" %>
      <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <%= render "form" %>
      </div>
</div>
