<div class="container">
  <h1>Mi Pedido</h1>
</div>
<br>
<br>
<% total = 0 %>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Img</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @order.product_orders.each_with_index do |product_order, i| %>
        <% sub_total = product_order.quantity * product_order.product.price %>
        <% total += sub_total %>
        <tr>
          <th scope="row"> <%= i + 1 %> </th>
          <td>
            <%= link_to product_order.product do %>
              <%= image_tag product_order.product.url_img, class: "avatar" %>
            <% end %>
          </td>
          <td><%= link_to product_order.product.name, product_order.product %></td>
          <td><%= product_order.product.price%></td>
          <td><%= product_order.quantity %></td>
          <td><%= sub_total %></td>
          <td><%= link_to 'Editar', '#', type: "button", 'data-toggle' => "modal", 'data-target' => "#modalProductOrder#{product_order.id}" %></td>
          <td><%= link_to 'Borrar', product_order_path(product_order), method: :delete, data: { confirm: "Are you sure?" } %></td>
          <!-- inicio modal -->
          <div class="modal fade" id="modalProductOrder<%= product_order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <%= render "product_orders/form", product_order: product_order %>
          </div>
          <!-- fin modal -->
        </tr>
      <% end %>
      <tr>
        <td></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th scope="row"><%= total %></th>
        <td></th>
        <td></th>
      </tr>
    </tbody>
  </table>
  <br>
  <br>  
    <%= simple_form_for @order do |f| %>
    <div class="d-flex justify-content-center">     
      <%= f.button :submit, "Comprar", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>

<!-- Button trigger modal -->




