<%= render "jumbotron"  %>

<div class="container mb-5">
  <div class="table-responsive">
    <table class="table table-hover">
      <h2>PEDIDOS DEL PROVEEDOR</h2>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ID producto (original)</th>
          <th scope="col">Img (copia)</th>
          <th scope="col">Nombre (copia)</th>
          <th scope="col">Valor Unidad (copia)</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Total</th>
          <th scope="col">#Status</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>
      <tbody>
        <% @suplier_product_orders.each do |spo| %>
          <tr>
            <td><%= spo.product_order.id %></td>
            <td><%= spo.product_order.product.id %></td>
            <td><%= render inline: spo.product_order.product.valid_img(class: "avatar") %></td>
            <td><%= spo.copy_product.name %></td>
            <td><%= spo.product_order.product.price_format %></td>
            <td><%= spo.product_order.quantity %></td>
            <td><%= number_to_currency(spo.total, unit: "$", delimiter: ".", precision: 0) %></td>
            <td><%= spo.status %></td>
            <td>
              <%= simple_form_for(spo) do |f| %>
                <%= f.button :submit, "#Update", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-around my-5">
    <%= link_to "back", dashboard_path, class:"btn btn-primary" %>
  </div>
</div>
