<% if @suplier %>
  <%= render "jumbotron"  %>

  <div class="container d-flex justify-content-around my-5">
    <%= link_to "Mis Productos", suplier_user_suplier_path(@suplier), class:"btn btn-primary" %>
    <%= link_to "Ordenes Pendientes", down_path, class:"btn btn-primary" %>
    <%= link_to "Ordernes listas", '#', class:"btn btn-primary" %>
    <%= link_to "Otros", '#', class:"btn btn-primary" %>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <%= link_to "Nuevo Proveedor", new_suplier_path, class:"btn btn-primary" %>
    </div>
  </div>
<% end %>



