<div class="container mt-5">
<br>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-5">
        <%= render inline: @product.valid_img(class:"img-fluid rounded-start") %>
      </div>
      <div class="col-md-7">
        <div class="card-body pr-5">

          <div class="d-flex justify-content-between">
            <%= link_to category_path(@product.category) do %>
            <p class="card-text mb-2">
              <small class="text-muted"><%= "Categoria: #{@product.category.name}" %></small>
            </p>
            <% end %>


            <%= link_to suplier_path(@product.suplier) do %>
            <p class="card-text text-right">
              <small class="text-muted"><%= @product.suplier.name %></small>
            </p>
            <% end %>
          </div>

          <h2 class="card-title text-center mb-4"><%= @product.name %></h2>

          <div class="row justify-content-end mr-2">
            <div class="col-12">
              <h3 class="card-text mb-2 text-right"><%= "$ #{@product.price}" %></h3>
            </div>
            <% if @product.stock <= 0%>
            <p class="btn btn-primary mr-2 disabled">No hay stock disponible</p>
            <% else %>
            <% if @product_order.new_record? %>
              <%= link_to 'Agregar', '#', type: "button", 'data-toggle' => "modal", 'data-target' => "#modalProduct#{@product.id}", class:"btn btn-primary mr-2"  %>

              <!-- inicio modal -->
              <div class="modal fade" id="modalProduct<%= @product.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <%= render "product_orders/form", product_order: [@product, @product_order] %>
              </div>
              <!-- fin modal -->
            <% else %>
              <%= link_to 'Ver en carro', order_path(@product_order.order), class:"btn btn-primary mr-2" %>
            <% end %>
            <% end %>
          </div>

            <p class="card-text text-right mt-3">
              <small class="text-muted"><%= "Stock disponible: #{@product.stock}" %></small>
            </p>


          <p class="card-text mt-3"><%= @product.description %></p>

        </div>
      </div>
    </div>
  </div>
</div>


